<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="simulation" type="Nerdle.AutoConfig.Section, Nerdle.AutoConfig"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <simulation clusterSize="3" iterations="10000" parallelism="10" useDynamicCluster="true" useAsyncOperations="true" >
    <component baseFailureRate="0.1" operationDelay="00:00:00.250" />
    <rollingWindow windowLength="00:00:05" failureTriggerPercentage="0.5" minimumSampleSize="5" failFor="00:00:10" />
  </simulation>
    
  <log4net>
    <appender name="Default" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR"/>
        <foreColor value="White, HighIntensity"/>
        <backColor value="Red"/>
      </mapping>
      <mapping>
        <level value="WARN"/>
        <foreColor value="White, HighIntensity"/>
      </mapping>
      <mapping>
        <level value="INFO"/>
        <foreColor value="White"/>
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="INFO"/>
    </root>
    <logger name="Default">
      <level value="INFO"/>
      <appender-ref ref="Default"/>
    </logger>
  </log4net>
    
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>